name: CI/CD - Test, Build & Deploy

on:
  push:
    branches:
      - main  

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository A
        uses: actions/checkout@v4

      - name: Set Up Node 
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run Jest tests
        run: npm test -- --ci

      - name: Build Vite static site
        run: npm run build

      - name: Build to Repository B 
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secret.JEST_GA_TOKEN }}
          external_repository: JamieONeillTUD/CA-2
          publish_branch: main
          publish_dir: ./dist

